<p id="notice"><%= notice %></p>

<h1>Vendedors</h1>

<table class=" table table-striped table-responsive table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Celular</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Email</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @vendedors.each do |vendedor| %>
        <tr>
            <td><%= vendedor.nombre %></td>
            <td><%= vendedor.apellido %></td>
            <td><%= vendedor.celular %></td>
            <td><%= vendedor.latitud %></td>
            <td><%= vendedor.longitud %></td>
            <td><%= vendedor.email %></td>
            <td><%= link_to 'Show', vendedor %></td>
            <td><%= link_to 'Edit', edit_vendedor_path(vendedor) %></td>
            <td><%= link_to 'Destroy', vendedor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<div class="btn btn-primary text-center">
    <%= link_to 'New Vendedor', new_vendedor_path %>
</div>
